

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif, helvetica;
}

body{
  font-size: 16px;
}

div._loading {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}

div._loading div._loading-icon {
  margin: auto;
  font-size: 40px;
  color: blueviolet;
}

div.msg-info {
  position: fixed;
  top: 13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 0 12px #777;
          box-shadow: 0 0 12px #777;
}

div.msg-info.error {
  color: whitesmoke;
  background:#9F0505;
  border: 1px solid #9F0505;
}

div.msg-info.clean {
    color: whitesmoke;
    background:#024E02!important;
    border: 1px solid #024E02;
}

div.wrapper {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background:white;
}

div.wrapper header._header {
  padding: 20px 10px;
  -webkit-box-shadow: 0 0 12px #fff;
          box-shadow: 0 0 12px #fff;
          background:whitesmoke;
}

header._header div.w-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

div.w-header div.lp-header {
  font-size: 20px;
  font-weight: 600;
  color: #777;
  letter-spacing: 3px;
}

div.w-header div.rp-header {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #777;
  margin-top: 3px;
}

div.rp-header a {
  color: #050fff;
  text-decoration: none;
}

div.wrapper div.form {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
}

div.form form {
  width: 30%;
  height: 200px;
  margin: auto;
  padding: 10px 16px;
  border-radius: 5px;
  background:whitesmoke;
  -webkit-box-shadow: 0 0 12px #fff;
          box-shadow: 0 0 12px #fff;
}

form div.form-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color:gray;
  margin: 12px 0px;
  margin-top: 2px;
  text-transform: uppercase;
}

form div.input-wrapper {
  width: 100%;
  margin: 5px 0px;
  margin-bottom: 10px;
}

form div.helper-info {
  font-size: 11px;
  margin-bottom: 8px;
  color: red;
  letter-spacing: 0.6px;
  position: relative;
  top: -6px;
}

div.input-wrapper input.input {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  outline: none;
  background: #eee;
  color: #555;
}

div.input-wrapper input.input::-webkit-input-placeholder {
  color: #bbb;
}

div.input-wrapper._flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

div._left button.button {
  padding: 5px 7px;
  background: green;
  border: none;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

div._left button.button:hover {
  opacity: 0.8;
}

div._flex div._right {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: 600;
}

div._right a._link {
  text-decoration: none;
}

div.wrapper div.dashboard {
  width: 100%;
  height: 100%;
}

div.dashboard div.add-wrapper {
  width: 100%;
  padding: 25px 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction:  row-reverse;
      flex-direction:  row-reverse;
}

div.add-wrapper label.button {
  margin-right: 20px;
  border: none;
  background: white; 
  padding: 8px 10px;;
  margin:auto;
  width:25%;
  box-shadow:0 0 5px #666666;
  color:gray;
  font-weight:bold;
  border-radius: 2px;
  letter-spacing: 1px;
  text-align:center;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
}

div.add-wrapper label.button:hover {
  opacity: 0.8;
}

div.dashboard div.cards-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0px;
}

div.cards-button div.card-btn {
  width: 231px;
  height: 50px;
  border: 1px solid #777;
  -webkit-box-shadow: 0 0 5px #666666;
          box-shadow: 0 0 5px #666666;
  
  text-align: center;
  line-height: 2.4;
  font-size: 20px;
  font-weight: 600;
  color: #777;
  letter-spacing: 1px;
  cursor: pointer;
}

div.cards-button div.card-btn:hover {
  -webkit-box-shadow: 0 0 16px whitesmoke;
          box-shadow: 0 0 16px whitesmoke;
}

div.cards-button div.card-btn.active {
  background:whitesmoke;
  color: gray;
  border: none;
  -webkit-box-shadow: 0 0 6px #333333;
          box-shadow: 0 0 6px #333333;
}

div.cards-wrapper {
  margin: 10px;
  margin-top: 30px;
  min-height: 400px;
  padding: 20px;
}

div.cards-wrapper ul.cards {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul.cards li.card {
  width: 27%;
  height: 200px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

li.card div.item,
div.item a.item-link{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li.card div.item-title {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 50%;
  background: red;
  padding: 4px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  opacity: 0;
}

li.card div.item-del {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  font-weight: 600;
  color: #ccc;
  padding: 4px;
  background: #444;
  letter-spacing: 0.6px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

li.card:hover div.item-title,
li.card:hover div.item-del {
  opacity: 1;
  cursor: pointer;
}

li.card div.item-title:hover,
li.card div.item-del:hover {
  opacity: 0.8;
}

div.item a.item-link{
  display: inline-block;
}


div._no-data {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}



@media screen and (max-width:570px){
  div.form form {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px 16px;
    border-radius: 5px;
    background:whitesmoke;
    -webkit-box-shadow: 0 0 12px #fff;
            box-shadow: 0 0 12px #fff;
  }
}